body {
    height: 100%;
    overflow: hidden;
}

#navbar {
    cursor: default;
}

#panel-divider {
    margin: 5px;
}

#task_panel .panel-body {
    height: calc(100vh - 205px);
}

#add_task_table td {
    padding-left: 5px
}

.tooltip-inner {
    max-width: 350px;
    width: 350px; 
}

.btn-glyphicon {
    padding: 4px;
    background: #ffffff;
    margin-right: 4px;
}

.btn-add-glyphicon {
    padding: 8px;
    background: #ffffff;
}

#tasks {
    height: calc(100vh - 230px);
    overflow-y: auto;
}

#switch {
    margin-top: 3px;
}

#tasks {
    width: 100%;
    text-align: center;
}

#tasks .task {
    position: relative;
    text-align: center;
    height: 75px;
    width: 200px;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    white-space:normal !important;
    max-width: 200px;
}

#tasks .Stopped, .Stopping {
    background-color: #dddddd;
    color: white;
}

#tasks .task p {
    text-align: center;
    font: bold 20px Helvetica;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#updateTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#cloneTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#displayTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#disableTask {
    margin-right: 8px;
}

#disableTask .dropdown-menu {
    min-width: 0px;
    width: auto!important;
}

#disableTask li {
    padding: 0;
    margin: 0;
}

#addTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#loginModal {
  text-align: center;
}

#loginModal .modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#loginModal .modal-header {
    padding: 0px;
}

#auth {
    margin-top: 150px;
    width: 200px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#run_history {
    height: calc(100vh - 220px);
}