body {
    height: 100%;
    overflow: hidden;
}

.color-danger {
    color: #c71c22;
}

.color-info {
    color: #033c73;
}

.color-success {
    color: #73a839;
}

.color-default {
    color: grey;
}

.color-primary {
    color: #2fa4e7;
}

.background-danger {
    background: #c71c22;
    color: white;
}

.background-primary {
    background: #2fa4e7;
    color: white;
}

.background-default {
    background: #f5f5f5;
    color: #555555;
}

#navbar {
    cursor: default;
}

#panel-divider {
    margin: 5px;
}

#task_panel .panel-body {
    height: calc(100vh - 205px);
    display: flex;
    flex-flow: column;
}

#infra_view {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 80px);
}

#infra_panel {
    padding: 10px;
}

#add_task_table td {
    padding-left: 5px
}

.tooltip-inner {
    max-width: 350px;
    width: 350px; 
}

.btn-glyphicon {
    padding: 4px;
    background: #ffffff;
    margin-right: 4px;
}

.btn-add-glyphicon {
    padding: 8px;
    background: #ffffff;
}

#job_back {
  height: 60px;
  width: 60px;
  outline: none;
  background-color: #dddddd;
  border-radius: 50%;
  margin-top: 75%;
  font-size: 200%;
  text-align: center;
}

.center_all {
  margin-top: 50%;
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job_panel {
  position: relative;
  height: auto;
  margin-top: 50%;
  margin-left: 50%;
  flex: 0 1 auto;
}

#host_count_p {
    font-size: 20px;
}

#task_count_p {
    font-size: 20px;
}

#host_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: auto;
}

#host_container .empty_hosts {
    text-align: center;
    width: 100%;
    height: 90%;
    font-size: 20px;
}

.host_card:hover, .user_panel:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
}

.host_card {
    height: auto;
    width: 250px;
    text-align: center;
    vertical-align: top;
    margin-right: 5px;
    margin-left: 5px;
}

.host_card .host_ip {
    font-size: 20px;
    color: black;
}

.host_card .host_specs {
    font-size: 12px;
    padding: 0;
}

.host_card .host_task {
    margin-left: 10px;
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 100%;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.host_card .well {
    padding: 0;
    height: 150px;
    color: black;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.active-host, .terminated-host {
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

#admin-panel {
    height: calc(100vh - 80px);
    display: flex;
    overflow: hidden;
}

#admin-panel-sidebar {
    height: 100%;
    width: 300px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#admin-panel-sidebar-links li {
    cursor: pointer;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#admin-panel-sidebar-links li.active {
    cursor: default;
}

#admin-panel-sidebar-links .section-header {
    cursor: default;
    font-size: 18px;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#admin-panel-body {
    height: 100%;
    width: 0 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#admin-panel-body h2 {
    color: black;
}

#admin-panel-body-users-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#user-search-panal {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.flex-display {
    display: flex;
    flex-flow: column;
}

.cursor-pointer {
    cursor: pointer;
}

#switch {
    margin-top: 3px;
}

#tasks {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    overflow-y: auto!important;
}

#tasks .task {
    position: relative;
    text-align: center;
    height: 75px;
    width: 200px;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
    white-space:normal !important;
    max-width: 200px;
    overflow: hidden;
}

#tasks .Stopped, .Stopping {
    background-color: #dddddd;
    color: white;
}

#tasks .task p {
    text-align: center;
    font: bold 20px Helvetica;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#updateTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#cloneTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#displayTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#disableTask {
    margin-right: 8px;
}

#disableTask .dropdown-menu {
    min-width: 0px;
    width: auto!important;
}

#disableTask li {
    padding: 0;
    margin: 0;
}

#addTaskModal .modal-body {
    height: 60%;
    overflow: auto;
}

#loginModal {
  text-align: center;
}

#loginModal .modal-dialog {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#loginModal .modal-header {
    padding: 0px;
}

#auth {
    margin-top: 150px;
    width: 200px;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#run_history {
    height: calc(100vh - 220px);
}